.hd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: #6646ff;
    height: 80px;
    font-size: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    left: 40px;
    top: 21px; 
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: -3px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
    font-weight: 600;
}

.home_menu {
    height: 100%;
    float: right;
    padding-right: 25px;
}

.gnb {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    position: relative;
}

.gnb li {
    display: inline-block;
    text-align: center;
    top:15px;
    position:relative;
}
.gnb li a {
    height: 100%;
    display: block;
    padding: 14px;
    font-size: 17px;
    color: #fff;
}

a {
    text-decoration: none;
}

.bg-wrapper{
    height: 100%;
    position: relative;
    padding-top: 80px;
    box-sizing: border-box;
}

.content {
    background: linear-gradient(180deg, #6646FF 0%, #6A48FF 20.61%, #764DFF 40.71%, #8955FF 60.62%, #A561FF 80.31%, #C870FF 99.84%, #C870FF 100%);
    height: calc(100% - 155px);
    position: relative;
}

.content_inner_wrap {
    position: absolute;
    width: 924px;
    top: 0;
    height: 569px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    transform: translateX(4%);
    -webkit-transform: translateX(4%);
    -ms-transform: translateX(4%);
}

.text_area {
    display: inline-block;
    max-width: 545px;
    margin-left: 50px;
}

.main_tit {
    display: inline-block;
    color: #fff;
    margin-top: 130px;
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 10px;
}

.main_tx {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 40px;
}

.video_area {
    float: left;
    width: 326px;
    height: 568px;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    background: url(../img/img_phone_pc.png) no-repeat 0 0;
    background-size: 326px 568px;
}

.download_area {
    float: left;
    max-width: 545px;
    margin-left: 50px;
}

.download_area a {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 50px;
    background-size: 150px 50px;
}
.appstore {
    background: url(../img/applestore_btn.png) no-repeat 0 0;
}

.googleplay {
    margin-left: 16px;
    background: url(../img/googleplay_btn.png) no-repeat 0 0;
}


body {
    background-color: #6646ff;
    height:100%;
    margin: 0;
}
body::after {
    content: "";
    background-color: #ba68ed;
    position: fixed;
    height: 100vh;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.wrapper {
    position: relative;
    min-width: 946px;
    min-height: 1055px;
    overflow: hidden;
    height: 100vh;
}






.ft {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ba68ed;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.inner {
    padding: 35px 36px 70px;
    height: 155px;
    box-sizing: border-box;
}

.ft_nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ft_nav li {
    display: inline-block;
    text-align: -webkit-match-parent;
    vertical-align: middle;
}

.ft_nav li ~ li::before {
    content: '';
    display: inline-block;
    margin: 0 12px;
    width: 1px;
    height: 7px;
    background-color: #e9e9ef;
}

.ft_nav li a {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}



.ft_sns {
    position: absolute;
    top: 34px;
    right: 44px;
    font-size: 0;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ft_sns li {
    display: inline-block;
    vertical-align: middle;
    text-align: -webkit-match-parent;
}

.fbicon {
    width: 18px;
    height: 18px;
    background: url(../img/fb.png) no-repeat 0 0;
    background-size: 18px 18px;
}

.copy {
    margin-top: 14px;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,AppleSDGothicNeo, Helvetica,'맑은고딕', 'Malgun Gothic', Dotum, sans-serif !important;
}