h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    text-shadow: -3px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

a {
    text-decoration: none;
    /*링크 줄 없애기 */
}

a:visited {
    color: #000;
}

a:link {
    color: #000;
}

a:active {
    color: #000;
}