body {
    margin: 0;
}

/* 로고 */
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    text-shadow: -3px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

/* 화살표 */
.hov-anim-box {
    position: absolute;
}

.hov-anim-box .animated {
    display: none;
}

.hov-anim-box:hover .animated {
    display: inline;
}

.hov-anim-box:hover .static {
    display: none;
}

.hov-anim-box:hover .goToEnterList {
    display: inline;
}

#arrow1{
    top: 260px;
    left: 760px;
}

#arrow2 {
    top: 800px;
    right: 50px;
}

#arrow3 {
    top: 2470px;
    right: 350px;
}

#arrow4 {
    top: 1600px;
    right: 250px;
}

#arrow5 {
    top: 2450px;
    left: 70px;
}

#arrow6 {
    top: 3550px;
    right: 400px;
}

.goToEnterList {
    display: none;
    position: inherit;
    top: 120px;
    left: 190px;
    width: 130px;
    height: 60px;
    font-size: 26px;
    background-color: white;
    border-radius: 10px;
    border-color: black;
}

.goToEnterList:hover {
    cursor: pointer;
    background-color:rgb(225, 248, 255);
}